.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}

.v-invisible {
    opacity: 0;
    position: absolute;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}